.map-overlay-search {
  position: absolute;
  font-size: medium;
  background: rgba(138, 220, 234, 0.8);
  top: 15%;
  left: 2%;
  margin: 10px 0 10px;
  padding: 20px;
  overflow: visible;
  box-shadow: 5px 5px 5px rgba(34, 26, 26, 0.533);
  border-radius: 10px;
}

/* Map and slider */
body {
  overflow: none;
}

body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.map {
  position: absolute;
  top: 10%;
  bottom: 0;
  width: 100%;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #c9f2f6;
}

/* Navbar links */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  /* border: 5px solid #fff !important;  */
  box-shadow: #0b6365 1px 0 10px;
  text-decoration: none;
}

/* Tiles on Learn More tab and buttons */
:root {
  --gradient: linear-gradient(to left top, #1ec283 10%, #210551 90%) !important;
}

body {
  background: #065044 !important;
}

.card {
  background: #ffffff;
  border: 1px solid #0ec0cd;
  color: rgba(19, 95, 71, 0.8);
  margin-bottom: 2rem;
}

.btn {
  background: var(--gradient) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  border-image-source: var(--gradient) !important;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background: var(--gradient) !important;
  -webkit-background-clip: none !important;
  -webkit-text-fill-color: #fff !important;
  box-shadow: #0b6365 1px 0 10px;
  text-decoration: none;
}